<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for i in messages %}
            <p>{{ i }}</p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'editar_user' %}" method="POST">
        {% csrf_token %}
            <label>Nombre de usuario:</label><br>
            <input type="text" name="nombre_usuario" value="{{u.username}}"><br><br>
            <label>Nombre:</label><br>
            <input type="text" name="nombre" value="{{d.nombre}}"><br><br>
            <label>Apellido:</label><br>
            <input type="text" name="apellido" value="{{d.apellido}}"><br><br>
            <label>Cédula:</label><br>
            <input type="text" name="cedula" value="{{d.cedula}}"><br><br>
            <label>Correo electrónico:</label><br>
            <input type="email" name="correo" value="{{u.email}}"><br><br>
            <label>Clave:</label><br>
            <input type="password"  name="clave"  placeholder="Cambiar clave"><br><br>
            <label>Clave 2:</label><br>
            <input type="password" name="clave1"  placeholder="Cambiar clave"><br><br>
            <input type="hidden" name="id" value="{{u.id}}">
            <select name="estatus">
                {% if d.estatus == False %}
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
                {% elif d.estatus == True %}
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
                {% endif %}                
            </select>
            <button type="submit"> Actualizar </button>
    </form>
</body>
</html>